.wrap-btn {
    padding-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.btn {
	border: none;
    background: transparent;
    font-size: 15px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    margin-right: 3px;
    margin-bottom: 3px;
    display:flex;
    justify-content: center;
    align-items:center ;
    padding: 0px;
    min-width: 160px;
    height: 42px;
    border-radius: 6px;
    background-color: #cefa2f;
    position: relative;
    z-index: 1;
 }
 .btn:hover {
    cursor: pointer;
    opacity: 0.5;
 }