<div class="lim-img-back">

    <div class="wrap-btn"> 
        <button class="btn" type="button" (click)='natrag()'>Natrag</button>
        
        <button class="btn" (click)='odjavljivanje()'> Izloguj se</button></div>
    <br/>
    <div class="limiter">
        <div class="prep">
            <img  src="assets/slike/preparat.jpg" alt="preparat" height="200px" width="200px" >
            <div class="description">
                <span>
                    Ime preparata:&nbsp;{{prep.ime_sadnice}}
                </span> 
                 <span>
                    Proizvodjac:&nbsp;{{prep.proizvodjac}}
                 </span>
                <span>
                    Na stanju:&nbsp;<span *ngIf='prep.kolicina>0'>da</span>
                    <span *ngIf='prep.kolicina==0'>ne</span> 
                </span>
        
            </div>
        </div>
        
        <div class="komentari">
            <div *ngFor='let kom of komentari; let i=index;'>
                <i>Tekst komentara</i> <br/>
                {{komentari[i].komentar}} <br/>
                Postavio korisnik: &nbsp;{{komentari[i].korime}} <br/>
                Ocena:&nbsp;{{komentari[i].pocena}} <br/><br/>
            </div>
            <form name='form1'>
                Kolicina<input  type="number" name='kol' [(ngModel)]='kol' placeholder="Unesite kolicinu"> &nbsp;
                <div class="wrap-btn">
                    <button  class="btn" type='button' (click)='dodajUKorpu()'>Dodaj proizvod u korpu </button>
                    <button class="btn" type="button" (click)='formaKom()'>Zelite da ostavite komentar?</button>
                </div>
    
        
            </form>
        </div>
        
        <div class="procont">
            <div *ngIf='mozeKom' class="wrap">
                <form name='form2' class="pro-form">
                    <div class="wrap-inp">
                        <label for="korime" class="labkom">
                            Vase korisnicko ime
                        </label>
                     <input class="inpkom" type="text" name="korime" [(ngModel)]='ras.korime'>
    
                    </div>
                    <div class="wrap-inp">
                        <label for="pocena" class="labkom">
                            Vasa ocena proizvoda
                        </label>
                     <input class="inpkom" type="text" name="pocena" [(ngModel)]='pocena' >
    
                    </div>
                    <div class="wrap-inp">
                        <label for="kom" class="labkom">Komentar</label>
                     <input class="inpkom" type="text" name="kom" [(ngModel)]='komentar'>
    
                    </div>
                    <div class="wrap-btn">
                        <button class="btn" (click)='ostaviKom()'>Komentarisi</button>
    
                    </div>
                </form>
            </div>
        </div>
    
    </div>
    
    
</div>
