.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e4ff99;
    padding: 29px 0;
}
.recaptcha{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 0;
    
}

    
.wrap-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
 button {
     outline: none;
	border: none;
    background: transparent;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: #cefa2f;
    position: relative;
    z-index: 1;
 }
 button:hover {
    cursor: pointer;
    opacity: 0.5;
 }
 .regcont {
    
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url('/assets/slike/login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0em;
    position: relative;
}
.wrap{
    width: 390px;
  border-radius: 10px;
  overflow: hidden;

  background: transparent;  
}
.reg-form {
    width: 100%;
    border-radius: 10px;
    background-color: #dcff5ff3;
    backface-visibility: visible ;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}
.labdes {
    margin: 0;
    display: block;
    color:rgb(181, 206, 91);
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
input {
	outline: none;
    border: none;
    font-size: 20px;
    color: #555555;
    line-height: 1.5;
  
    display: block;
    width: 100%;
    height: 18px;
    background: transparent;
    padding: 0 10px 0 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.button:focus{
    border: none;
}